@use "utilities/colors" as *;
@use "utilities/mixins" as m;
@use "utilities/metrics"as metric;
@use "sass:color";

@mixin light {
  --primary             : #{ $primary-50 };
  --on-primary          : #{ $white };
  --primary-hover       : #{ $primary-40 };
  --primary-active      : #{ $primary-60 };

  --app                 : #{ $white };
  --on-app              : #{ $gray-90 };

  --surface             : #{ $gray-00 };
  --on-surface          : #{ $gray-90 };
  --surface-hover       : #{ $gray-02 };

  --heading-color       : #{ $gray-100 };
  --text                : #{ $gray-90 };
  --text-inverted       : #{ $white };

  --border              : #{ $gray-15 };
}

@mixin dark {
 @include light; //making everything light mode for now —Jp
}

@mixin reducedMotion {
  --tx-s : #{ metric.$ts };
  --tx-m : #{ metric.$tm };
  --tx-l : #{ metric.$tl };
  --tx-x : #{ metric.$tx };
  --tx-xx: #{ metric.$txx };

  --interactive-feedback: translateY(-.075em) scale(1.01);


  @media (prefers-reduced-motion: reduce) {
  --tx-s : 0s;
  --tx-m : 0s;
  --tx-l : 0s;
  --tx-x : 0s;
  --tx-xx: 0s;

    --interactive-feedback: translateY(0) scale(1);
    }
}



:root {
  color-scheme: light dark; // both are supported
  @include light;
  @include reducedMotion;

  @media (prefers-color-scheme: dark) {
    @include dark;
  }
}

// theming is coming later – Jp

// .theme-dark {
//   @include dark;
// }
//
// .theme-light {
//   @include light;
// }
