// @use "../utilities/colors" as *;
@use "../utilities/utilities" as *;

button,
.button {
  --bkg : var(--primary);
  --text: var(--on-primary);
  --bkg-hover: var(--primary-hover);
  --bkg-active: var(--primary-active);
  --border: var(--bkg);
  --radius: 0.25em;

  background: var(--bkg);
  color: var(--text);
  border: var(--border-width) solid var(--border);
  border-radius: var(--radius);
  padding: 0.5em 0.75em;
  cursor: pointer;
  transition: var(--tx-m);

  &:hover {
    background: var(--bkg-hover);
    box-shadow: 0 0.25em 0.5em var(--bkg);
  }

  &:active {
    background: var(--bkg-active);
    box-shadow: 0 0 0.25em var(--bkg);
  }

  &.-secondary {
    --bkg: var(--interactive-bkg);
    --text: var(--interactive-text);
    --bkg-hover: var(--interactive-hover);
    --bkg-active: var(--interactive-hover);
    --border: var(--border-line);
  }

  &.-destructive {
    --bkg: #{ $error };
    --text: #{ $white };
    --bkg-hover: #{ $error-hover };
    --bkg-active: #{ $error-active };
  }

  &.-ghost {
    --bkg: transparent;
    --border: var(--border-line);
    --text: var(--interactive-text);
    --bkg-hover: transparent;
    --bkg-active: var(--interactive-hover);

    &:hover {
      --border: var(--text);
    }

    &:active {
      --bkg-active: var(--interactive-active);
    }

  }
  &.-link {
    --bkg: transparent;
    --text: var(--interactive-text);
    --bkg-hover: transparent;
    --bkg-active: transparent;
    padding-inline: 0;

    @include link;

    &:hover {
      @include link-hover;
    }
  }
}
